[defaults]
inventory = ip.txt
host_key_checking = false
private_key_file = /root/ansible_ws/c19015-1.pem
remote_user=ec2-user
roles_path = ./roles


[privilege_escalation]
become=true
become_method = sudo
become_user=root
become_ask_pass=false




